<fieldset>
    <div class="panel-body"> 

        <%= f.hidden_field :_destroy %>
        <%= link_to "remove", '#', class: "remove_fields" %>

        <div class="field">        
            <%= f.label :description, class: "person-label"%>
            <%= f.text_area :description, size: "80x5", placeholder: "", class: "person-input-text-area"  %>
        </div>
    </div>
</fieldset>
