<% content_for :title, "Edit Resume" %>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="resume-form">
            <%= render partial: '/people/form', locals: { newPerson: @person } %>
        </div>
    </div>
</div>
