<% content_for :title, "Add New Resume" %>
<div class="row">
    <div class="col">
        <div class="resume-form">
            <%= render partial: '/people/form', locals: { newPerson: @newPerson } %>
        </div>
    </div>
</div>
