.register{
	color: darken($secondary-color, 5%);
	background-color: $text-color;
	border: none;
	width: 100%;
	border-radius: 5px;
	font-family: 'Trebuchet MS', serif;
	letter-spacing: .50em;
	&:hover{
		text-decoration: none;
		background-color: darken($secondary-color, 0.5%);
		color: $text-color;
		transition: 0.5s;
	}
}

.add_fields, .customized{
	color: darken($text-color, 5%);
	background-color: $main-color;
	border: 1px solid darken($text-color, 15%);
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: darken($secondary-color, 5%);
		color: $text-color;
		transition: 0.5s;
	}

}

.remove_fields{
	display: block;
	float: right;
	
	color: darken(tomato, 5%);
	background-color: transparent;
	border: none;
	padding: 3px 10px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: darken($secondary-color, 5%);
		color: $text-color;
		transition: 0.5s;
	}
}

.back{
	text-decoration: none;
	color: $text-color;
	&:hover{
		color: $main-color;
		text-decoration: none;
	}
}