.field{
    padding: 20px 20px 20px 40px;

    input:not(.register) {
		width: 95%;
		border: 0;
  		outline: 0;
  		background: transparent;
  		border-bottom: 1px solid black;
    }

    .person-label{
        float: left;
        color: darken($main-color, 0.8);
        opacity: 0.8;
        font-weight: 900;
        font-family: 'Trebuchet MS', serif;
        font-size: 15px;
    }

    .person-input{
        float:right;
        margin-left: 30px;
        max-width: 80%;
    }
    
    .radio-person-gender{
        display: inline-block;
        padding-left: 3em;
        white-space: nowrap;
        margin-left: 10%;
    }
    .person-radio-button{
        display: inline-block;
        position: absolute;
        margin-left: 10%;
    }    
}
