.field{
    padding: 30px 20px 30px 20px;

    input:not(.register) {
		width: 95%;
		border: 0;
  		outline: 0;
  		background: transparent;
  		border-bottom: 1px solid black;
    }

    .person-label{
        display: block;
        color: darken($main-color, 20.5);
        opacity: 0.8;
        font-weight: 900;
        font-family: 'Trebuchet MS', serif;
        font-size: 15px;
        margin-right: 10em;
        position: absolute;
    }

    .person-input{
        display: block;
        margin-left: 15em;
        max-width: 60%;
        position: absolute;
    }
    
    .radio-person-label{
        display: inline-block;
        white-space: nowrap;
        margin-left: 17em;
        
    }
    .person-radio-bullet{
        display: inline-block;
        position: absolute;
        margin-left: 15em;        
    }

    .education-level-label{
        display: inline-block;
        margin-left: 15em;
    }

    .person-input-text-area{
        margin-left: 10em;
    }
    
    .person-select-date{
        margin-left: 15em;
        .year{
            display: inline-block;
            position: absolute;
            margin-left: 13em;
        }
        .day{
            margin-left: 8em;
            display: inline-block;
            position: absolute;
        }
        .month{
            display: inline-block;
            position: absolute;
        }
    }
}
