/* Navbar/navigation styles */

.navbar {
	height: 75px;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	position: fixed;
	top: 0;
	z-index: 999;
}

.navbar-collapse {
	background-color: $main-color;
}

.navbar-default {
	background-color: $main-color;
	padding-bottom: 5px;
	padding-top: 5px;

	.navbar-toggle {
		background-color: $main-color;
	}

	.navbar-nav > li > a {
		color: $text-color;
		&:hover {
			color: darken($current_tab, 5%);
			transition: 0.5s;
		}
	}

	.warning{
		color: tomato;
		font-size: 10px;
		padding-left: 2em;
	}

	.navbar-header {

		.navbar-brand {
			vertical-align: middle;
			color: $current_tab;
			letter-spacing: 1.4px;
			font-weight: 500;
		}

	}

	.dropdown-menu > li > a:hover {
		background-color: darken($current_tab, 5%);
		color: $text-color;
	}

	.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
		background-color: darken($current_tab, 5%);
		color: $text-color;	
		height: 65px;
	}

}