.panel-default{
    border: none;
    .panel-heading{
        background-color: $secondary-color;
        color: $main-color;
    }
    .panel-body{
        -webkit-animation: fadeEffect 1.5s;
        animation: fadeEffect 1s; /* Fading effect takes 1 second */
        border: 1px solid darken($secondary-color, 15%);
        margin-bottom: 25px;
        margin-top: 25px;
    }
}