
#page-wrap {
    padding-top: 50px;
    width: 80%;
    background-color: $text-color; 
    margin: 40px auto 60px;
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
    .clear { clear: both; }         
    .avatar-image { float: right; 
        margin: -30px 0 0 0; 
    }

    dl{ margin-top: 30px;}

    .edit-person{
        margin-left: 3em;
        font-weight: 300;
        font-size: 20px;
    }

    h1 { 
        margin: 0 0 16px 0; 
        padding: 0 0 16px 0; 
        font-size: 42px; 
        font-weight: bold; 
        letter-spacing: -2px; 
        border-bottom: 1px solid #999; 
    }

    h2 { 
        font-size: 20px; 
        margin: 0 0 6px 0; 
        position: relative; 
    }

    h2 span { 
        position: absolute; 
        bottom: 0; right: 0; 
        font-style: italic; 
        font-family: Georgia, Serif; 
        font-size: 16px; 
        color: $current_tab; 
        font-weight: normal;
        margin-right: 5em 
    }    

    a { 
        color: #999; 
        text-decoration: none; 
        border-bottom: 1px dotted #999; 
    }

    a:hover { 
        border-bottom-style: solid; 
        color: black; 
    }

    ul { margin: 0 0 32px 17px; }

    .vcard { 
        margin-left: 3em;
        margin-right: 3em;
    }

    .resume-avatar { margin-right: 3em }

    #objective { 
        padding-top: 25px;
        width: 500px; 
        float: left;
        margin-left: 3em; 
        
        p {
            font-family: Georgia, Serif; 
            font-style: italic; 
            color: #666;
        }
         
    }

    dt { 
        font-style: italic; 
        font-weight: bold; 
        font-size: 18px; text-align: right; 
        padding: 0 26px 0 0; 
        width: 150px; float: left; 
        height: 100px; 
        border-right: 1px solid #999;
        margin-left: 2em;
    }

    dd {
        margin-right: 3em; 
        width: 600px; 
        float: right;
        
        p { 
            margin: 0 0 16px 0;
        }
        
        .resume-education{
            margin-left: 8em;
        }

        li{
            list-style-position: inside;
        }

        span.resume-detail{
            margin-left: 8em;
            
        }
        label.resume-label{
            float: left;
            clear: both;
            position: absolute;
        }

    }

    dd.clear { 
        float: none; 
        margin: 0; 
        height: 15px; 
    } 

}
    

