$background: #FFF7E8;
$twitter-blue: #00aced;
$current_tab: #2E2E2E;
$text-color: #F3FFFE;
$gray-medium-light: #eaeaea;
$main-color: #FF7D40;
$true: #A3FE88;
$false: tomato;
$radius: 3px;
$gray-medium-light: #eaeaea;
$alert: 9999;
$round: 50%;