<% content_for :title, "Objectives" %>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="resume-form">
            <%= render partial: '/objectives/form', locals: { person: @person } %>
        </div>
    </div>
</div>
