<% content_for :title, "New Skill Set" %>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="resume-form">
            <%= render partial: '/skills/form', locals: { person: @person } %>
        </div>
    </div>
</div>
