<% content_for :title, "Resume Organizer" %>
<div class="col-md-8 col-md-offset-2">
    <div class="resume-form">
        <div class="panel panel-default">
            <div class="panel-heading"><center><h4>All Resume (<%= @people.size %>)</h4></center></div>
                <%= react_component('ResumeTable') %>
        </div>
    </div>
</div>