<% content_for :title, "Resume Organizer" %>
<div class="col-md-8 col-md-offset-2">
    <div class="resume-form">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <% @people.map do |person| %>
                <tbody>
                    <tr>
                        <td><%= "#{person.last_name}, #{person.first_name} #{person.middle_name}" %></td>
                        <td><%= link_to '', edit_person_path(person), class: "glyphicon glyphicon-edit" %> </td>
                        <td><%= link_to '', person_path(person), method: :delete, data:{ confirm: "Are you sure?"}, class: "glyphicon glyphicon-trash red" %></td>
                    </t>
                </tbody>
            <% end %>
        </table>
    </div>
</div>