<% content_for :title, "Add Experience" %>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="resume-form">
            <%= render partial: '/experiences/form', locals: { person: @person } %>
        </div>
    </div>
</div>
