<% content_for :title, "Edit | #{@reference.name}" %>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="resume-form">
            <%= render partial: '/character_references/edit_form', locals: { person: @person, reference: @reference } %>
        </div>
    </div>
</div>
